<p-tabView>
  <p-tabPanel header="Tab 1">
    Conteúdo da Tab 1
  </p-tabPanel>
  <p-tabPanel header="Tab 2">
    Conteúdo da Tab 2
  </p-tabPanel>
  <p-tabPanel header="Tab 3">
    Conteúdo da Tab 3
  </p-tabPanel>
  <p-tabPanel header="Tab 4">
    Conteúdo da Tab 4
  </p-tabPanel>
  <p-tabPanel header="Tab 5">
    Conteúdo da Tab 5
  </p-tabPanel>
  <p-tabPanel header="Tab 6">
    Conteúdo da Tab 6
  </p-tabPanel>
  <p-tabPanel header="Tab 7">
    Conteúdo da Tab 7
  </p-tabPanel>
  <p-tabPanel header="Tab 8">
    Conteúdo da Tab 8
  </p-tabPanel>
  <p-tabPanel header="Tab 9">
    Conteúdo da Tab 9
  </p-tabPanel>
  <p-tabPanel header="Tab 10">
    Conteúdo da Tab 10
  </p-tabPanel>
</p-tabView>
