<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input pInputText id="descricao" type="text" style="width: 100%">
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="vencimento" style="display: block">Vencimento</label>
      <input pInputText id="vencimento" type="text" style="width: 110px">

      <label for="ate">até</label>
      <input pInputText id="ate" type="text" style="width: 110px">
    </div>

    <div class="ui-g-12" style="margin-top: 10px;">
      <p-button type="submit" label="Pesquisar"></p-button>
    </div>

  </div>
</div>
